/* Reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header */
.navbar * {
    font-size: 1.2rem;
}

.navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-brand img{
    width: 120px;
}

.carousel {
    position: relative;
    max-height: 100vh;
    overflow: hidden;
}

.carousel-overlay-container {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, .6);
}

.carousel-overlay {
    color: white;
    position: absolute;
    bottom: 10%;
    right: 0;
    padding-right: 5%;

    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/* Main */
.dotted {
    text-decoration: underline dotted;
}

#formOradorMensajeMensaje::placeholder {
    font-size: 1.5rem;
}

.btn-formOrador {
    color: white;
    background-color: #96C93E;
}

/* Footer */
footer {
    background-color: rgb(2, 56, 66);
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: white;
    text-decoration: underline;
}

/* Media queries */
@media screen and (max-width: 375px){
    .navbar-brand * {
        font-size: 1rem;
    }
}

@media screen and (max-width: 768px){
    .carousel-overlay-container * {
        font-size: 1rem;
    }

    .carousel-overlay {
        width: 100%;
    }
}